<!-- https://materializecss.com/grid.html -->

    <div class="container">

      <h1>Shopping List</h1>

      <!-- https://materializecss.com/table.html -->
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
            <!-- USER ONLY-->
            <th>Name</th>
            <th>Quantity</th>
            <th>Store</th>
            <th>Type</th>
            <th>Brand</th>
            <!-- ADMIN ONLY BUTTONS -->
          </tr>

        </thead>

        <tbody>
          {{#each items}}
          <tr>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
            <td>{{store}}</td>
            <td>{{type}}</td>
            <td>{{brand}}</td>

            <td nowrap>

              <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="/shoppinglist/modify/{{shoppinglist_id}}"><i
                  class="material-icons">edit</i></a>
              <a class="btn-floating waves-effect waves-light red"
                onclick='confirmDelete("{{name}}","{{list_item_id}}")'><i class="material-icons">delete</i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    </div>

    <a href="/shoppinglist/create" class="btn-floating btn-large red fixed-action-btn">
      <i class="large material-icons">create</i>
    </a>

    <script src="/js/main.js"></script>